html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: block; 
  background-color: #ebebeb; 
  color: #333;
}

:root {
  font-family: 'Proxima Nova', -apple-system, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box; /* Esto evita que el padding "infle" los elementos */
}